/*
Simple voting Plugin
Style Name: SimpleVotingPlugin
Style Author: Seoringer <seoringer@gmail.com>
Author URL: http://seoringer.com
Last Update: June 29th, 2015
*/

/* Voting area setting */
.voting-area-_-simple-voting {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

.voting-area-_-simple-voting:after {
  content: '\A';
  white-space: pre;
}

.user-data-_-simple-voting .text-input-_-simple-voting { width: 100%; }

.user-data-_-simple-voting .user-comment-_-simple-voting { height: 70px; }

.user-data-_-simple-voting label.text-label-_-simple-voting { width: 100%; font-weight: bold; text-align: left; padding: 3px; }

.user-data-_-simple-voting .mandatory { color: red; text-weigth: bold; }

.user-data-_-simple-voting .text-label-alarm-_-simple-voting {
    outline: none !important;
    border:2px solid red;
    box-shadow: 0 0 10px #719ECE;
}

/* Voting Numbers */
.voting-area-_-simple-voting span.voting-element-_-simple-voting { display: inline-block; float: left; width: 10%; }
.voting-area-_-simple-voting span.voting-element-_-simple-voting a { border: 1px solid yellow; color: black; display: inline-block; font-size: 14px; line-height: 2; width: 100%; text-decoration: none; }
.voting-area-_-simple-voting span.voting-element-_-simple-voting a:hover { border: 1px solid blue; color: white; text-decoration: none; }

/* Minor adjustments */
#svVotingLabel { padding-bottom: 5px; }
#svFinalRating { font-size: 14px;	font-weight: bold; }

/* Voting buttons gradient */
.voting-area-_-simple-voting span.voting-element-_-simple-voting { 
/* Followig 8 lines got from the http://www.colorzilla.com/gradient-editor/ */
background: #f9e43e; /* Old browsers */
background: -moz-linear-gradient(top,  #f9e43e 0%, #f4af00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9e43e), color-stop(100%,#f4af00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9e43e 0%,#f4af00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9e43e 0%,#f4af00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9e43e 0%,#f4af00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9e43e 0%,#f4af00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e43e', endColorstr='#f4af00',GradientType=0 ); /* IE6-9 */
}

/* Voting buttons hower gradient */
.voting-area-_-simple-voting span.voting-element-_-simple-voting a:hover {
/* Followig 8 lines got from the http://www.colorzilla.com/gradient-editor/ */
background: #83e389; /* Old browsers */
background: -moz-linear-gradient(top,  #83e389 1%, #249437 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#83e389), color-stop(100%,#249437)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #83e389 1%,#249437 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #83e389 1%,#249437 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #83e389 1%,#249437 100%); /* IE10+ */
background: linear-gradient(to bottom,  #83e389 1%,#249437 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83e389', endColorstr='#249437',GradientType=0 ); /* IE6-9 */
}


/* Result gradient 1 */
.voting-area-_-simple-voting .voting-result-worst-_-simple-voting {
	background: #ED5A5A;
}
/* Result gradient 2 */
.voting-area-_-simple-voting .voting-result-bad-_-simple-voting {
/* Followig 8 lines got from the http://www.colorzilla.com/gradient-editor/ */
background: #8bf26f; /* Old browsers */
background: -moz-linear-gradient(left,  #8bf26f 0%, #ed5a5a 19%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8bf26f), color-stop(19%,#ed5a5a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #8bf26f 0%,#ed5a5a 19%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #8bf26f 0%,#ed5a5a 19%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #8bf26f 0%,#ed5a5a 19%); /* IE10+ */
background: linear-gradient(to right,  #8bf26f 0%,#ed5a5a 19%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bf26f', endColorstr='#ed5a5a',GradientType=1 ); /* IE6-9 */
}
/* Result gradient 3 */
.voting-area-_-simple-voting .voting-result-average-_-simple-voting {
/* Followig 8 lines got from the http://www.colorzilla.com/gradient-editor/ */
background: #8bf26f; /* Old browsers */
background: -moz-linear-gradient(left,  #8bf26f 0%, #ed5a5a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8bf26f), color-stop(100%,#ed5a5a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #8bf26f 0%,#ed5a5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #8bf26f 0%,#ed5a5a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #8bf26f 0%,#ed5a5a 100%); /* IE10+ */
background: linear-gradient(to right,  #8bf26f 0%,#ed5a5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bf26f', endColorstr='#ed5a5a',GradientType=1 ); /* IE6-9 */
}
/* Result gradient 4 */
.voting-area-_-simple-voting .voting-result-good-_-simple-voting {
/* Followig 8 lines got from the http://www.colorzilla.com/gradient-editor/ */
background: #8bf26f; /* Old browsers */
background: -moz-linear-gradient(left,  #8bf26f 75%, #ed5a5a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(75%,#8bf26f), color-stop(100%,#ed5a5a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #8bf26f 75%,#ed5a5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #8bf26f 75%,#ed5a5a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #8bf26f 75%,#ed5a5a 100%); /* IE10+ */
background: linear-gradient(to right,  #8bf26f 75%,#ed5a5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bf26f', endColorstr='#ed5a5a',GradientType=1 ); /* IE6-9 */
}
/* Result gradient 5 */
.voting-area-_-simple-voting .voting-result-best-_-simple-voting { background: #8BF26F; /* Old browsers */
}
